precision = single
backend = "python"
backend_check_values = False
cache_dir = "~/.cgt_cache"
enable_inplace_opt = True
enable_simplification = True
force_python_impl = False
disallow_python_impl = False
parallel_interp = False
enable_cuda = False
