# see cgtrc_spec.ini for explanation

debug = False
precision = single
backend = python
cache_dir = ~/.cgt_cache
enable_inplace_opt = True
enable_simplification = True
parallel = False
num_threads = default=4

force_python_impl = False
debug_cpp = False
verbose = False